table {
    border-top: 1px solid black ;
    border-bottom: 1px solid lightgray;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
}
thead {
    background-color: #eeeeee;
}
th {width: 150px;}
td {
    padding-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}
caption {
    text-align: left;
    font-weight: bold;
}