/* 초기화 init */
* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: aliceblue;
}

/* 이름 꾸미기 name decoration */
h1#my_name a {
    text-decoration: none;
    color:white;
    text-shadow: 
        2px 2px black,
        0 0 3px black,
        4px 2px 2px gray,
        6px 2px 2px gray,
        2px 4px 2px gray,
        1px 1px 1px black;  /* 텍스트 그림자 */
}

/* 사진 영역*/
#profile{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#profile, #sec {
    padding-left: 15%;
    padding-right: 15%;
}

/* 사진 동그랗게 */
#pro_img {border-radius: 50%;}

/* Portfolio */
#sec_left > ul, #sec_right > ul {list-style: none;} /* 리스트 스타일 없애기 */
#sec a { text-decoration: none; }
#sec a:link { text-decoration: none; }
#sec a:visited { text-decoration: none;}
#sec_left {
    display: inline-block;
    width: 49%;
    background-color:whitesmoke;
}

#sec_left > ul > li:nth-child(even){ /* 짝수번째 */
    background-color: thistle;
}
#sec_right > ul > li:nth-child(even){ /* 짝수번째 */
    background-color: whitesmoke;
}
#sec_right{
    display: inline-block;
    width:49%;
    background-color: thistle;
}

/* footer */
footer {
    margin-top: 600px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
}

/* top_btn */
#top_btn {  
    position: fixed;
    margin: 0 auto;
    bottom: 2%;
    left: 85%; /* 가운데 정렬하려면 L=0, R=0 */
    right: 0;
}
